{{#if siteSettings.links_category_enabled}}
<section class='field'>
  <div class="enable-links-category">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_links_category}}
      {{i18n 'linksCategory.enable_links_category'}}
    </label>
  </div>
</section>
{{/if}}
